@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f8fafc;
  background-color: #0f172a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}